allow flags_health_check aac_drc_prop:file { getattr  map  open };
allow flags_health_check ab_update_gki_prop:file { getattr  map  open };
allow flags_health_check adaptive_haptics_prop:file { getattr  map  open };
allow flags_health_check adbd_config_prop:file { getattr  map  open };
allow flags_health_check adbd_prop:file { getattr  map  open };
allow flags_health_check apexd_config_prop:file { getattr  open };
allow flags_health_check apk_verity_prop:file { getattr  open };
allow flags_health_check bluetooth_a2dp_offload_prop:file { getattr  map  open };
allow flags_health_check bluetooth_audio_hal_prop:file { getattr  open };
